{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ringo PetStore - Home</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <style>
      .carrousel-img{
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
      .footer-home{
        color: white;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 90px;
        bottom: 0;
        width: 100%;
      }
    </style>
</head>
<body>
  <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="{% static 'img/icon/peticon.jpeg' %}" width="64px" height="64px" /></a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="Inicio.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Galeria.html">Galería</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Contacto.html">Contacto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="forms/Pedidos.html">Pedidos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  <!-- end navbar -->
  <!-- Carrousel  -->
  
   <div class="row m-0">
     <div class="col-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/carousel/pet1.jpeg' %}" class="carrousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/carousel/pet2.png' %}" class="carrousel-img" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/carousel/pet3.jpeg' %}" class="carrousel-img" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
     </div>
   </div>
   
  <footer class="bg-dark footer-home">
    Ringo PetStore 	&nbsp; <span id="anio"></span>
    <div>
      {{ dolar }}
      {{ fecha }}
    </div>
  </footer>
      
    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/popper/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript">


      $(document).ready(function(){

        var myCarousel = document.querySelector('#carouselExampleCaptions')
        var carousel = new bootstrap.Carousel(myCarousel, { 
          interval: 2000,
          wrap: true
        })

        $('#anio').text(new Date().getFullYear());


      });

      
    </script>        
</body>
</html>
</body>
</html>
